/* You can add global styles to this file, and also import other style files */
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.toast-success {
  background: rgb(78, 128, 29);
}

.toast-error {
  background: rgb(226, 59, 59);
}

.toast {
  height: 300px !important;
  color: blue;
}
